/*- Custom style -*/

// -- Put custom style under this point -- //

body {
font-family: 'Baloo Da 2', cursive;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Open Sans', sans-serif;
letter-spacing: 0.01em;
}
